## PRE-RUN THOSE 2 PYTHON CELLS BEFORE THE MISSION

### Import pandas

In [2]:
import pandas as pd

### Define consts

In [3]:
COLUMNS = ['Apples', 'Bananas']

# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [4]:
raw_data = [[30, 21]]
df1 = pd.DataFrame(raw_data, columns=COLUMNS)
df1

   Apples  Bananas
0      30       21

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [5]:
raw_data = {'2017 Sales': [35, 21], '2018 sales': [41, 35]}
df2 = pd.DataFrame.from_dict(raw_data, orient='index', columns=COLUMNS)
df2

            Apples  Bananas
2017 Sales      35       21
2018 sales      41       35

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

In [6]:
for column in df2:
    print(column, df2[column].values)

Apples [35 41]
Bananas [21 35]

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [10]:
df3 = df2.drop(df2.index[0])
df3

            Apples  Bananas
2018 sales      41       35

# Mission 5

Delete the first column from the dataframe from mission 2.

In [13]:
df4 = df2.drop(df2.columns[0], axis=1)
df4

            Bananas
2017 Sales       21
2018 sales       35